<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193955521872-1eupa7au9gri40b4o0ut8nfi2k0gol6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193955521872-1eupa7au9gri40b4o0ut8nfi2k0gol6e</string>
	<key>API_KEY</key>
	<string>AIzaSyDKc2JX2rcOutW0oGxrNsg6TrzyXFsNZtY</string>
	<key>GCM_SENDER_ID</key>
	<string>193955521872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authApp</string>
	<key>PROJECT_ID</key>
	<string>gad-nov-2022-group-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>gad-nov-2022-group-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193955521872:ios:6749fc2589eaef38873855</string>
</dict>
</plist>